.demo
  .demo-one
    border 1px solid lightgray
    width 800px
    margin 20px auto
    padding 20px
    .small-div
      width 100px
      height 100px
      line-height 100px
      text-align center
      margin 10px 0
      background-color yellow
    .changeColor
      width 100px
      height 100px
      line-height 100px
      text-align center
      margin 10px 0
      background-color red
    .small-div2{
      display inline-block
      width 100px
    }